.history {
	.logo-cover {
		margin: 0 auto 30px;
		width: 235px;

		img {
			width: 100%;
			height: auto;
		}
	}

	.title {
		margin-bottom: 28px;
		text-align: center !important;
	}

	.history-description {
		margin-bottom: 30px;
		font-family: var(--primary-font-family);
		font-size: var(--primary-font-size);
		font-weight: 300;
		line-height: 1.6;
		letter-spacing: 0.4px;
		color: rgba(65, 61, 75, 0.75);
	}

	.main-btn {
			margin: 0 auto;
		}

	@media (min-width: 962px) {
		.title {
			text-align: left !important;
		}

		.main-btn{
			margin: inherit;
		}
	}
}